# Ignore node_modules (they will be installed fresh in container)
node_modules
npm-debug.log

# Ignore local environment files
.env
.DS_Store

# Ignore git files
.git
.gitignore

# Ignore OS-specific junk
Thumbs.db
